@page "/C_Empacados"

<PageTitle>Consulta</PageTitle>

<EditForm Model="empacados">

    <div class="card">

        <div class="card-header">
            <h3> Consulta de Productos </h3>
        </div>

        <div class="card-body">

            <form>
                <div class="row">

                    <div class="col">
                        <InputSelect class="col" @bind-Value="filtro">
                            <option value="1">ProductoId</option>
                            <option value="2">Descripción</option>
                            <option value="3">Fecha de Caducidad</option>
                        </InputSelect>
                    </div>

                    <div class="col">
                        <label  class="col-group-text" > Busqueda </label>
                        <InputText class="col-auto" @bind-Value="Criterio"/>
                    </div>
                    
                    <div class="col">
                        <button type="button" class="btn btn-sm btn-primary" @onclick="Buscar"> <span class="oi oi-magnifying-glass" ></span> Buscar </button>
                    </div>
                </div>
            </form>
            
        </div>

        <table class="table table-bordered" >
            <thead class="thead">
                <tr class="table">
                    <th>EmpacadosId</th>
                    <th>Concepto</th>
                    <th>Producto Empacado</th>
                    <th>Cantidad</th>
                    <th>Peso</th>
                    <th>Fecha</th>
                    <th><span class="oi oi-eye"> Ver</span></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in empacados)
                {
                    <tr>
                        <td>@item.EmpacadosId</td>
                        <td>@item.Concepto</td>
                        <td>@item.ProductoEmpacado</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Peso</td>
                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                        <td><a class="btn btn-sm btn-outline-primary oi oi-eye" href="R_Empacados/@item.EmpacadosId"> Ver </a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</EditForm>

@code {
    
    public string? filtro { get; set; }

    public string? Criterio { get; set; }

    public List<Empacados> empacados { get; set; } = new List<Empacados>();

    public List<Productos> producto { get; set; } = new List<Productos>();

    [Inject]
    public EmpacadosBLL empacadosBLL { get; set; }

    private void Buscar()
    {
        if(Criterio!=null)
        {
            switch(filtro)
            {
                case "1":
                    empacados = empacadosBLL.GetList(e => e.EmpacadosId == int.Parse(Criterio));
                    break;
                case "2":
                    empacados = empacadosBLL.GetList(e => e.Concepto.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
            empacados = empacadosBLL.GetList(p => true);
    }
}